/* includes nodemodules/govukfrontendtoolkit/govukfrontendtoolkit/stylesheets */

@import 'toolkit';

#content {
	margin: 0 auto;
	max-width: 1020px;
  
  @include ie-lte(6)  {
    width: 990px;
  }
}

/* IER styles */

@import 'core';
@import 'questions';
@import 'confirmation';
@import 'complete';
