/* includes nodemodules/govukfrontendtoolkit/govukfrontendtoolkit/stylesheets */

@import 'toolkit';

#content {
	margin: 0 auto;
	max-width: 1020px;
  
  @include ie-lte(6)  {
    width: 990px;
  }
}

/* IER styles */

@import 'core';
@import 'questions';
@import 'confirmation';
@import 'complete';


.bignumber {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0.5em;

 } 

.bignumberintro {
  margin-bottom: 0;
  margin-top: em;
}

.results-info {
  margin-bottom: 4em;
}

.back-to-previous {
width: auto; 
padding-left: 0;
}

article th {
line-height: 1.25em;
text-align: left;
color: #0b0c0c;
font-weight: 700;
background-color: #dee0e2;
border: solid 1px #a1acb2;
}

article table {
border-collapse: collapse;
border-spacing: 0;
}

table {
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
margin-bottom: 2em;
}

tr {
display: table-row;
vertical-align: top;
border-color: inherit;
}

th,
td {
  padding: 5px 10px;
}

article td {
background: #eaedef;
border: dotted 1px #b8c6cc;
}

article tr:nth-child(even) td {
background-color: #fff;
}
