<main id="content">

      
   

<form action="/finish">
    

    


 <a class="back-to-previous" href="/disability-allowance">Back <span class="visuallyhidden"> to the previous question</span></a> 

<header>

  <p>Question 3 of 3</p>
  <h1>Was the death expected?</h1>
</header>
    

    <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="getting_disability_allowance" value="Yes" class="radio">
            Yes
        </label>
        <label class="selectable">
            <input type="radio" name="getting_disability_allowance" value="No" class="radio">
            No
        </label>
    </fieldset>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>
