<main id="content">

      
   

<form action="/expected">
    

    


 <a class="back-to-previous" href="/death-location">Back <span class="visuallyhidden"> to the previous question</span></a> 

<header>
  <h1>Did the person die at home, in hospital or elsewhere?</h1>
</header>

   <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <select id="address_uprn_select" name="address.uprn" class="lonely validate" data-validation-name="addressSelect" data-validation-type="field" data-validation-rules="nonEmpty"><option selected>Afghanistan</option><option>Syria</option><option>Vietnam</option></select>
    </fieldset>    


      </div>
    </div>
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="nationality">Continue</button>
    
</form>


    </main>