<main id="content">

  <form action="address">
    
    <a class="back-to-previous" href="#">Back <span class="visuallyhidden"> to the previous question</span></a> 


    <header class="question-one">
        <h1>What's your date of birth?</h1>
    </header>
    
    

    <fieldset class="validate inline-fields" data-validation-name="dateOfBirthDate" data-validation-type="fieldset" data-validation-rules="allNonEmpty" data-validation-children="day month year">
      <span class="day field-wrapper">
        

<label for="dob_dob_day" class="">
    Day
</label>


        


<input type="number" id="dob_dob_day" name="dob_day" value="" autocomplete="off" class="text  day validate" data-validation-name="day" data-validation-type="field" data-validation-rules="nonEmpty">


      </span>
      <span class="month field-wrapper">
      

<label for="dob_dob_month" class="">
    Month
</label>


      


<input type="number" id="dob_dob_month" name="dob_month" value="" autocomplete="off" class="text  month validate" data-validation-name="month" data-validation-type="field" data-validation-rules="nonEmpty">


      </span>
      <span class="year field-wrapper">
      

<label for="dob_dob_year" class="">
    Year
</label>


      


<input type="number" id="dob_dob_year" name="dob_year" value="" autocomplete="off" class="text  year text validate" data-validation-name="year" data-validation-type="field" data-validation-rules="nonEmpty">


      </span>
      
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="dateOfBirth">Continue</button>
  
</form>


 </main>