<main id="content">

  <form action="{{next}}">
    <header class="question-one">
     <h1>Where did the death happen?</h1>
    </header>

    

    <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="death_location" value="England or Wales" class="radio"{{choice_1}}>
            England or Wales
        </label>
        <label class="selectable">
            <input type="radio" name="death_location" value="Scotland" class="radio"{{choice_2}}>
            Scotland
        </label>
         <label class="selectable">
            <input type="radio" name="death_location" value="Northern Ireland" class="radio"{{choice_3}}>
            Northern Ireland
        </label>
    </fieldset>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>
