<main id="content">

      
   

<form action="{{next}}">
    

    


 <a class="back-to-previous" href="/death-location">
  <i class="fa fa-angle-left"></i>
  Back <span class="visuallyhidden"> to the previous question</span></a> 

<header>
  <h1>Did the person die at home, in hospital or elsewhere?</h1>
</header>

   <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="death_occur" value="home_or_hospital" class="radio"{{choice_1}}>
            At home or in hospital
        </label>
        <label class="selectable">
            <input type="radio" name="death_occur" value="elsewhere" class="radio"{{choice_2}}>
            Elsewhere
        </label>
    </fieldset>    


      </div>
    </div>
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="nationality">Continue</button>
    
</form>


    </main>