<main id="content">

  <form action="/death-location" method="get">
    <header class="question-one">
        <p>Question 1 of 3</p>
        <h1>Where did the death happen?</h1>
    </header>

    

    <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="death_location" value="England or Wales" class="radio">
            England or Wales
        </label>
        <label class="selectable">
            <input type="radio" name="death_location" value="Scotland" class="radio">
            Scotland
        </label>
         <label class="selectable">
            <input type="radio" name="death_location" value="Northern Ireland" class="radio">
            Northern Ireland
        </label>
         <label class="selectable">
            <input type="radio" name="death_location" value="Abroad" class="radio">
            Abroad
        </label>
    </fieldset>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>
