<main id="content" class="confirmation">

      

      <article>
        <a id="continue" class="back-to-previous" href="/register-to-vote/contact" title="Back to the previous question">Back</a>
        <header>
          <h1>Register to vote</h1>
        </header>
        <p>Check your answers before sending your application.</p>
        <div>
          <h3>Name</h3>
          <div class="data-wrap">
             
              <p>
    amy ruth whitney
</p>
            
          </div>
          <a href="/register-to-vote/edit/name" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>Previous name</h3>
          <div class="data-wrap">
             
                
                  <p>I have not changed my name in the last 12 months</p>
                
            
          </div>
          <a href="/register-to-vote/edit/name" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>
        <div>
          <h3>Date of birth</h3>
          <div class="data-wrap">
             
              
                <p> 14 November 1989</p>
              
              
            
          </div>
          <a href="/register-to-vote/edit/date-of-birth" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
        <div>
          <h3>Nationality</h3>
          <div class="data-wrap">
             
              
                  <p>
                    I am a citizen of United Kingdom
                  </p>
              
            
          </div>
          <a href="/register-to-vote/edit/nationality" class="change">Change<span class="visuallyhidden"> nationality</span></a>
        </div>
        <div>
          <h3>National Insurance number</h3>
          <div class="data-wrap">
             
              
                <p>AB 12 34 56 C</p>
              
            
          </div>
          <a href="/register-to-vote/edit/nino" class="change">Change<span class="visuallyhidden"> national insurance number</span></a>
        </div>
        <div>
          <h3>Address</h3>
          <div class="data-wrap">
             
              
                
                <p>91 Mapledene Road, London</p>
                
              
              
              <p>e8 3ll</p>
              
            
          </div>
          <a href="/register-to-vote/edit/address" class="change">Change<span class="visuallyhidden"> address</span></a>
        </div>

        <div>
          <h3>Second address</h3>
          <div class="data-wrap">
             
              
                  <p>I don't have a second address</p>
                
              
          </div>
          <a href="/register-to-vote/edit/other-address" class="change">Change<span class="visuallyhidden"> second address</span></a>
        </div>

        <div>
          <h3>Previous address</h3>
          <div class="data-wrap">
           
            
              <p>I have not moved in the last 12 months</p>
            
          
          </div>
          <a href="/register-to-vote/edit/previous-address" class="change">Change<span class="visuallyhidden"> previous address</span></a>
        </div>

        <div>
          <h3>Open register</h3>
          <div class="data-wrap">
           
            
              <p>I don’t want to include my details on the open register</p>
            
          
          </div>
          <a href="/register-to-vote/edit/open-register" class="change">Change<span class="visuallyhidden"> if you want your details to be included on the open register</span></a>
        </div>
        <div>
          <h3>Postal vote</h3>
          <div class="data-wrap">
           
            
              <p>I don’t want to apply for a postal vote</p>
            
          
          </div>
          <a href="/register-to-vote/edit/postal-vote" class="change">Change<span class="visuallyhidden"> if you want to apply for a postal vote</span></a>
        </div>
        <div>
          <h3>How we should contact you</h3>
          <div class="data-wrap">
             
              
              
              
                <p>By email: hello@amywhitney.co.uk</p>
              
            
          </div>
          <a href="/register-to-vote/edit/contact" class="change">Change<span class="visuallyhidden"> how we should contact you</span></a>
        </div>
        <div class="help-notice">
          <p>I understand that: </p>
          <p>The information I provide through this application will be used to change my details on the electoral register.</p>
          <p>If I knowingly give false information through this application, I could be fined up to £5,000 or go to prison for up to a year.</p>
          <p>My local electoral registration office may ask the Home Office to check my immigration status.</p>
        </div>
      </article>
       

<form action="/register-to-vote/confirmation" method="POST">
    
      <input id="continue" type="submit" class="button next" value="I accept - send my application">
      
</form>


    </main>