<main id="content">

      

      <article>
        <header>
          <h1 class="finalheader">Results</h1>
        </header>
        
<div class="results-info">
          <p>You should <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/death-and-bereavement/death-and-bereavement-what-to-do-when-someone-dies/registering-a-death.htm">register the death locally in Northern Ireland</a>.</p>

<p>If the body’s being brought back to England or Wales to be buried or cremated, the person bringing the body back must report this to the local registrar. They will issue a ‘Certificate of No Liability to Register’.</p>


      </div>



      <h2>Change your answers</h2>
    <div class="confirmation">
        <div>
          <h3>Did the person die at home, in hospital or elsewhere?</h3>
          <div class="data-wrap">
             
              <p>
    Northern Ireland
</p>
            
          </div>
          <a href="/death-location?edit=yes" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>

      </div>
        
      </article>

    </main>