<main id="content">

      

      <article>
        <header>
          <h1 class="finalheader">Results</h1>
        </header>

 <div class="results-info">

       <p class="bignumberintro">Register the death within</p>
          <p class="bignumber">5 days</p>

<p>You can go to any <a href="/register-offices">register office</a> but if you use the one in the area where the person died you’ll be given the documents you’ll need on the day. </p>

<p>If you use a different register office the documents will be sent to the office in the area where the person died before they’re issued to you. This means you’ll usually wait a few days.</p>

<div class="application-notice info-notice">
<p>Registering the death will take about 30 minutes - you might need to make an appointment.</p>
</div>

<h2 id="who-can-register-the-death">Who can register the death</h2>

<p>You can register the death if you’re:</p>

<ul>
  <li>a relative</li>
  <li>someone present at the death</li>
  <li>the person who found the body</li>
  <li>the person in charge of the body</li>
  <li>the person making arrangements with the funeral directors</li>
</ul>

<h2 id="what-you-need-to-do">What you need to do</h2>

<p>Take the medical certificate showing the cause of death (signed by a doctor) with you.</p>

<p>If available (but don’t worry if not), also take the person’s:</p>

<ul>
  <li>birth certificate</li>
  <li>Council Tax bill</li>
  <li>driving licence</li>
  <li>marriage or civil partnership certificate</li>
  <li>NHS medical card</li>
  <li>passport</li>
  <li>proof of address (eg utility bill) </li>
</ul>

<p>You’ll need to tell the registrar:</p>

<ul>
  <li>the person’s full name at the time of death</li>
  <li>any names previously used, eg maiden name</li>
  <li>the person’s date and place of birth</li>
  <li>their last address</li>
  <li>their occupation</li>
  <li>the full name, date of birth and occupation of a surviving or late spouse or civil partner</li>
  <li>whether they were getting a State Pension or any other benefits</li>
</ul>

<h2 id="documents-youll-get">Documents you’ll get</h2>

<p>When you register a death you’ll get:</p>

<ul>
  <li>a Certificate for Burial or Cremation (the ‘green form’) - gives permission for burial or an application for cremation</li>
  <li>a Certificate of Registration of Death (form BD8) - you may need to fill this out and return it if the person was getting a State Pension or benefits (the form will come with a pre-paid envelope so you know where to send it)</li>
</ul>

<p>You can buy extra death certificates - these will be needed for <a href="/after-a-death/overview">sorting out the person’s affairs</a>.</p>


      </div>
 

      <h2>Change your answers</h2>
    <div class="confirmation">
        <div>
          <h3>Happened</h3>
          <div class="data-wrap">
             
              <p>
    England or Wales
</p>
            
          </div>
          <a href="/death-location?edit=yes" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>Location</h3>
          <div class="data-wrap">
             
                
                  <p>Elsewhere</p>
                
            
          </div>
          <a href="/death-occur?edit=yes" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>
        <div>
          <h3>Expected</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

      </div>
        
      </article>

    </main>