<main id="content">

  <form action="/disability-allowance" method="get">
    <header class="page-header group">
      <div>
        <h1>Register a death</h1>
      </div>
    </header>

    <div class="article-container group">
  <article role="article" class="group"><div class="inner">
<div class="intro">
          <p>Find out how to register a death in the UK. </p>

<p>You need to read different information if:</p>

<ul>
<li>the person <a rel="external" href="http://www.gro-scotland.gov.uk/regscot/registering-a-death.html">lived in Scotland</a>
</li>
  <li>the person <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/death-and-bereavement/death-and-bereavement-what-to-do-when-someone-dies/registering-a-death.htm">lived in Northern Ireland</a>
</li>
</ul>
<p>If the person died on a foreign ship or aircraft, you must register the death in the country the ship or aircraft is registered in.</p>

        <p class="get-started">
          <a rel="nofollow" href="/death-location" class="big button">Start now</a>
        </p>
      </div>
      
    </div>
  </article>
</div>

 </main>